{% extends "index.html" %}
{% block content %}
<h3 style="text-align: center; padding: 10px;">Edit account form</h3>
<form id="form" class="mb-3 w-75 m-auto needs-validation" method="POST" action="/editAccount/{{ account.id }}" novalidate>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" value="{{ account.name }}" required>
        <label for="name">Account name:</label>
        <div class="invalid-feedback">
            Please provide account name.
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" step="0.01" id="balance" name="balance" value="{{ account.balance }}" required>
        <label for="balance">Balance:</label>
        <div class="invalid-feedback">
            Please provide a balance.
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Edit account">
    <input class="btn btn-secondary" type="reset" value="Clear">
</form>
<script>
    // Form Validation
    (() => {
    'use strict'

    const forms = document.querySelectorAll('.needs-validation')

    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>
{{ message }}
{% endblock %}