{% extends "index.html" %}
{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th colspan="2">Actions</th>
    </tr>
    {% for account in accounts %}
        <tr>
            <td>{{account[1]}}</td>
            <td>{{account[2]}}</td>
            <td><a href="/edit_account/{{account[0]}}">Edit</a></td>
            <td><a href="/delete_account/{{account[0]}}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
<a href="/add_account">Add account</a>
<br>
<a href="/transfer_money">Transfer money between accounts</a>
{% endblock %}