{% extends "index.html" %}
{% block content %}
<h3 style="text-align: center; padding: 10px;">Add income form</h3>
<form class="mb-3 w-75 m-auto" method="POST" action="/incomes">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" required>
        <label for="name">Income name:</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" step="0.01" id="amount" name="amount" required>
        <label for="amount">Amount:</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="date" id="date" name="date" required>
        <label for="date">Date:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="account" name="account" required>
            {% for account in accounts %}
            <option value="{{account[0]}}">{{account[1]}}</option>
            {% endfor %}
        </select>
        <label for="account">Account:</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Add income">
    <input class="btn btn-secondary" type="reset" value="Clear">
</form>
{% endblock %}