{% extends "index.html" %}
{% block content %}

<h3 style="text-align: center; padding: 10px;">Add expense</h3>
<form id="form" class="mb-3 w-75 m-auto needs-validation" method="POST" action="/expenses" novalidate>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" required>
        <label for="name">Expense name:</label>
        <div class="invalid-feedback">
            Please provide expense name.
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" step="0.01" id="amount" name="amount" required>
        <label for="amount">Amount:</label>
        <div class="invalid-feedback">
            Please provide an amount.
        </div>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="date" id="date" name="date" required>
        <label for="date">Date:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="account" name="account" required>
            {% for account in accounts %}
            <option value="{{account[0]}}">{{account[1]}}</option>
            {% endfor %}
        </select>
        <label for="account">Account:</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Add expense">
    <input class="btn btn-secondary" type="reset" value="Clear">
</form>

<script>
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');

        return `${year}-${month}-${day}`;
    }

    function setDefaultDate() {
        const dateInput = document.getElementById('date');
        dateInput.value = getCurrentDate();
    }

    document.addEventListener("DOMContentLoaded", function() {
        setDefaultDate();
    });

    document.getElementById('form').addEventListener('reset', function() {
        setTimeout(setDefaultDate, 0);
    });


    // Form Validation
    (() => {
    'use strict'

    const forms = document.querySelectorAll('.needs-validation')

    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>
{% endblock %}