{% extends "index.html" %}
{% block content %}

<h3 style="text-align: center; padding: 10px;">Edit income</h3>
<form id="form" class="mb-3 w-75 m-auto needs-validation" method="POST" action="/editIncome/{{income.id}}" novalidate>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" value="{{income.name}}" required>
        <label for="name">Income name:</label>
        <div class="invalid-feedback">
            Please provide income name.
        </div>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" step="0.01" id="amount" name="amount"  value="{{income.amount}}" required>
        <label for="amount">Amount:</label>
        <div class="invalid-feedback">
            Please provide an amount.
        </div>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="date" id="date" name="date" value="{{income.date}}" required>
        <label for="date">Date:</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="account" name="account" required>
            {% for account in accounts %}
            <option value="{{account.id}}" {% if account.name == income.account_id %} selected {% endif %}>{{account.name}}</option>
            {% endfor %}
        </select>
        <label for="account">Account:</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Edit income">
    <input class="btn btn-secondary" type="reset" value="Clear">
</form>
<script>
    // Form Validation
    (() => {
    'use strict'

    const forms = document.querySelectorAll('.needs-validation')

    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>
{% endblock %}