{% extends "index.html" %}
{% block content %}
<table>
    <tr>
        <th>Income name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Account</th>
        <th colspan="2">Actions</th>
    </tr>
    {% for income in incomes %}
        <tr>
            <td>{{income[0]}}</td>
            <td>{{income[1]}}</td>
            <td>{{income[2]}}</td>
            <td>{{income[3]}}</td>
            <td><a href="/edit_income/{{income[4]}}">Edit</a></td>
            <td><a href="/delete_income/{{income[4]}}">Delete entry</a></td>
            <td><a href="/undo_income/{{income[4]}}">Delete and undo changes to your account</a></td>

        </tr>
    {% endfor %}
</table>
<a href="/add_income">Add income</a>
{% endblock %}